

  html, body,#map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-size: 11px;
  }
  body{
	/*background: url('home_interior.jpg') no-repeat;
	background-size: 100% 100%;*/
	
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(left, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to right, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6- */
	
	
	overflow:hidden;
	
  }
  
	#description {
		height: 100%;
		width: 600px;
		float: left;
border-style:solid;
		background-color: #ffffff;
		position: relative;
overflow: auto;
	padding :10px;
	}

	#arrow {
		width:				50px;
		height:				90px;
		position:			absolute;
		left:				0px;
		top:				43%;
		background: url('Play.png') no-repeat;
		background-size: 52px 93px;
		
		z-index:			999;
		
		
		-webkit-border-top-right-radius: 12px;
		-webkit-border-bottom-left-radius: 12px;
		-moz-border-radius-topright: 12px;
		-moz-border-radius-bottomleft: 12px;
		border-top-right-radius: 12px;
		border-bottom-left-radius: 12px;
		
		
		
	}
	/* for styling */
	#door-knob {
		width:				50px;
		height:				50px;
		position:			absolute;
		left:				94%;
		top:				45%;
		background: url('Lion.png') no-repeat;
		background-size: 50px 50px;
		
		border-radius:100%;
		
		z-index:			999;
		
		/* new changes, can merge */
		display:none;
	}
	
	
	
	#map-canvas {
		/*position: absolute;
		top: 70px;
		left: 85px;
		height: 445px;
		width: 845px;*/
		top:13.2%;
		left: 9%;
		height:73%;
		width:83.3%;
		position:absolute;
		z-index:10;
		
		/* new changes, can merge */
		top:13%;
		height:74%;
		width:86.3%;
		left: 6%;
	}
	
	#mask {
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;

		background: url('mask.png') no-repeat;
		background-size: 100% 100%;

		pointer-events:none;
		z-index:10;
	}
	
	#mapcontainer {
		width:98%;
		height:98%;
		border: 1px solid purple;
	}
	#locationsdiv{
		font-size: 15px;

}
	/*#fb-container {
		left: 82%;
		position: absolute;
		background-color: white;
		border: 1px solid #aaa;
		border-top-color: #315c99;
		width:140px;
		height:70px;
		z-index: 99;
	}
		*/
	
	.fb_text {
		padding-left:2px;
	}
	
	/*
	#fb_religion {
	position: absolute;
	visibility: hidden;	
	border: 1px solid #aaa;
	border-top-color: #315c99;
	z-index: 9999;
	width: 220px;
	height: 70px;
	top: 0%;
	left: 66%;
	background-color: white;
	
	/* new changes */  /*
	visibility:visible;
	left:66.57%;
}
	*/

.fb_header {
	padding: 5px 5px 5px 5px;
	border-bottom: 1px solid #d8dfea;
	background-color: #edeff4;
}

.fb_button {
	line-height: 10px;
	padding: 2px 6px 3px;
	font-weight: bold;
	display: inline-block;
	border: 1px solid black;

	white-space: nowrap;
	border-spacing: 0;
	color: #fff;
	cursor: pointer;
	vertical-align: top;
	background-color: #5f78ab;
}



	/*#fb_relationship {
	position: absolute;
	visibility: hidden;	
	border: 1px solid #aaa;
	border-top-color: #315c99;
	z-index: 9999;
	width: 220px;
	height: 70px;
	top: 0%;
	left: 50%;
	background-color: white;
	
	/* new changes for slide */  /*
	visibility:visible;
	left:51.18%;
}
*/

	#fb_likes {
	position: absolute;
	visibility: hidden;	
	z-index: 9999;
	width: 220px;
	height: 50px;
	top: 2%;
	left: 32%;
	background-color: white;
	opacity: 0.7;
	
	}

#place-markers {
	width:				175px;
	height:				75px;
	position:			absolute;
	left:				5%;
	top:				0;
	background: url('Start-placing.gif') no-repeat;
	background-size: 100% 100%;
	z-index:			999;
}

#stop-place {
	width:				175px;
	height:				75px;
	position:			absolute;
	left:				5%;
	top:				0;
	background: url('Stop-placing.gif') no-repeat;
	background-size: 100% 100%;
	z-index:			999;
}

#start-button{
	  background-color: white;
	  border: 2px solid #000000;
	  opacity: 0.7;
	  cursor:pointer;
	  text-align: center;
}

#start-button-bigger{
	padding:3px;
	background-color:white;
	display:none;
}

#start-button-smaller{
	font-family : Arial,sans-serif;
	font-size : 14px;
	padding-left: 4px;
	padding-right: 4px;
}




#Straight-mask {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background: url('Straight-mask.png') no-repeat;
	background-size: 100% 100%;

	pointer-events:none;
	z-index:10;
}

#menu {
	height:100%;
	border: solid;
	position: absolute;
	z-index:999;
	width: 350px;
	left:97.4%;
	overflow: auto;
	padding :10px;
	
	
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(left, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #eeeeee 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to right, #eeeeee 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */
}

#formdiv{
}

form{
overflow: hidden;
}

#buttondiv{
padding: 15px;
text-align: center;
overflow: auto;
}	

#expander{
	width:				30px;
	height:				30px;
	position:			absolute;
	left:				97.45%;
	top:				0.5%;
	background-color: #000000;
	z-index:			1000000;
	color:#ffffff;
	line-height:30px;
	font-size:23px;

}

#facebook{
	position:absolute;
	width:600px;
	height:10%;
	z-index:8984;
	left:50%;
	background-color: white;
	border: 1px solid #aaa;
	border-top-color: #315c99;
	overflow-y:scroll;
	
	/* orig state */
	width:175px;
	left:80%;
	overflow:hidden;
}
.console-element{
	margin-top:7px;
	border-bottom:1px solid #999;
	height:20px;
	
	/* orig state*/
	display:none;
}

.generate{
	position:absolute;
	left:70%;
	
	/*orig state*/
	display:none;
}
.clear{
	position:absolute;
	left:84%;
	
	/*orig state*/
	display:none;
}
#fb-container{
	position:absolute;
	width:30px;
	left: 80%;
	top:2%;
	
	/*orig state*/
	left:0%;
	top:50%;
	width:100%;
	

}
#extra-text{
	display:none;
}

#toprofile{
	position:absolute;
	left:45%;
	top:40%;
	color:#5f78ab;
}


	

